{% extends 'base.html' %}

{% block content %}
<div class="container">
    <p class="text-center">In life, you only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful?</p>
</div>
<div class="border p-5">
    <p class="text-center container">It’s the inevitable phrase that comes at the beginning of nearly every job interview, regardless of industry: ‘So, tell me about yourself.’ For such a seemingly easy task — talking about who you are and what you do — it can warrant much anxiety.</p>
    <p class="text-center container">After all, when you only have a few breaths to pitch your services and expertise, stumbling through your speech can make you look ill-prepared and lacking self-confidence. At the heart of this paragraph are the basics: essential information that’s needed to set up the scene for the interview.</p>
</div>
{% endblock %}
