{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<p class="text-center container">It’s the inevitable phrase that comes at the beginning of nearly every job interview, regardless of industry: ‘So, tell me about yourself.’ For such a seemingly easy task — talking about who you are and what you do — it can warrant much anxiety.</p>
<h1 class="border-bottom text-center">Interview pitches</h1>
    {{ macro.displayResults(interview) }}

{% endblock %}
