{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<p class="text-center container">One of the hardest presentations to make is the entrepreneurial pitch. You have a great idea for a business and you want someone to give you money to make it happen. The problem is that venture capitalists, angel investors, and even rich uncles are heavily predisposed against you. Why? Because 99% of the pitches they hear sound like sure-fire prescriptions to lose money!</p>
<h1 class="border-bottom text-center">Enterpreneur pitches</h1>
{{ macro.displayResults(product) }}

{% endblock %}