{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<p class="text-center container">A sales pitch is a condensed sales presentation where a salesperson explains the nature and benefits of their business, ideally in less than one or two minutes. Sales pitches are often referred to as ‘elevator pitches’ because they should be able to be delivered within the time constraints of a single elevator ride.</p>
<h1 class="border-bottom text-center">Product pitches</h1>
{{ macro.displayResults(sales) }}

{% endblock %}